name: Build and Push Singularity Images

on:
  push:
    branches: [ "master" ]
    paths:
      - '**'
  pull_request:
    branches: [ "master" ]
    paths:
      - '**'

jobs:
  check-for-changes:
    runs-on: ubuntu-latest
    outputs:
      img_coverm_changed: ${{ steps.filter.outputs.img_coverm }}
      img_jellyfish_changed: ${{ steps.filter.outputs.img_jellyfish }}
      img_minimap_changed: ${{ steps.filter.outputs.img_minimap }}
      img_report_changed: ${{ steps.filter.outputs.img_report }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get latest tag
        id: get_tag
        run: echo "LAST_TAG=$(git for-each-ref --sort='-committerdate' --format='%(refname:lstrip=2)' refs/tags/ | head -1)" >> $GITHUB_ENV

      - name: Check for changes in container recipes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          base: ${{ env.LAST_TAG }}
          filters: |
            img_coverm:
              - 'workflow/containers/koverage_coverm'
            img_jellyfish:
              - 'workflow/containers/koverage_jellyfish'
            img_minimap:
              - 'workflow/containers/koverage_minimap'
            img_report:
              - 'workflow/containers/koverage_report'


  build-koverage_coverm:
      needs: check-for-changes
      if: needs.check-for-changes.outputs.img_coverm_changed == 'true'
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Install Apptainer
          run: |
            #sudo apt update
            #sudo apt install -y software-properties-common
            #sudo add-apt-repository -y ppa:apptainer/ppa
            #sudo apt update
            #sudo apt install -y apptainer
        - name: Get and Set Current Tag
          id: get_tag
          run: |
            echo "$(git for-each-ref refs/tags/)"
        - name: Log in to Quay.io
          run: |
            #echo "${{ secrets.QUAY_PASSWORD }}" | apptainer remote login --username "${{ secrets.QUAY_USERNAME }}" oras://quay.io
        - name: Build koverage_coverm
          run: |
            #apptainer build koverage_coverm.sif workflow/containers/koverage_coverm
        - name: Push koverage_coverm to Quay.io
          run: |
            echo "apptainer push koverage_coverm.sif oras://quay.io/beardymcjohnface/koverage_coverm:${{ steps.get_tag.outputs.tag }}"
            #apptainer push koverage_coverm.sif oras://quay.io/beardymcjohnface/koverage_coverm:${{ steps.get_tag.outputs.tag }}


  build-koverage_jellyfish:
      needs: check-for-changes
      if: needs.check-for-changes.outputs.img_jellyfish_changed == 'true'
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Install Apptainer
          run: |
            sudo apt update
            sudo apt install -y software-properties-common
            sudo add-apt-repository -y ppa:apptainer/ppa
            sudo apt update
            sudo apt install -y apptainer
        - name: Log in to Quay.io
          run: |
            echo "${{ secrets.QUAY_PASSWORD }}" | apptainer remote login --username "${{ secrets.QUAY_USERNAME }}" oras://quay.io
        - name: Set tag env
          run: |
            echo "TAG=$(git for-each-ref --sort='-committerdate' --format='%(refname:lstrip=2)' refs/tags/ | head -1)" >> $GITHUB_ENV
        - name: Build koverage_jellyfish
          run: |
            apptainer build koverage_jellyfish.sif workflow/containers/koverage_jellyfish
        - name: Push koverage_jellyfish to Quay.io
          run: |
            apptainer push koverage_jellyfish.sif oras://quay.io/beardymcjohnface/koverage_jellyfish:${{ env.TAG }}


  build-koverage_minimap:
      needs: check-for-changes
      if: needs.check-for-changes.outputs.img_minimap_changed == 'true'
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Install Apptainer
          run: |
            sudo apt update
            sudo apt install -y software-properties-common
            sudo add-apt-repository -y ppa:apptainer/ppa
            sudo apt update
            sudo apt install -y apptainer
        - name: Log in to Quay.io
          run: |
            echo "${{ secrets.QUAY_PASSWORD }}" | apptainer remote login --username "${{ secrets.QUAY_USERNAME }}" oras://quay.io
        - name: Set tag env
          run: |
            echo "TAG=$(git for-each-ref --sort='-committerdate' --format='%(refname:lstrip=2)' refs/tags/ | head -1)" >> $GITHUB_ENV
        - name: Build koverage_minimap
          run: |
            apptainer build koverage_minimap.sif workflow/containers/koverage_minimap
        - name: Push koverage_minimap to Quay.io
          run: |
            apptainer push koverage_minimap.sif oras://quay.io/beardymcjohnface/koverage_minimap:${{ env.TAG }}
            

  build-koverage_report:
      needs: check-for-changes
      if: needs.check-for-changes.outputs.img_report_changed == 'true'
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Install Apptainer
          run: |
            sudo apt update
            #sudo apt install -y software-properties-common
            #sudo add-apt-repository -y ppa:apptainer/ppa
            #sudo apt update
            #sudo apt install -y apptainer
        - name: Log in to Quay.io
          run: |
            echo "${{ secrets.QUAY_PASSWORD }}" | apptainer remote login --username "${{ secrets.QUAY_USERNAME }}" oras://quay.io
        - name: Set tag env
          run: |
            echo "TAG=$(git for-each-ref --sort='-committerdate' --format='%(refname:lstrip=2)' refs/tags/ | head -1)" >> $GITHUB_ENV
        - name: Build koverage_report
          run: |
            #apptainer build koverage_report.sif workflow/containers/koverage_report
        - name: Push koverage_report to Quay.io
          run: |
            #apptainer push koverage_report.sif oras://quay.io/beardymcjohnface/koverage_report:${{ env.TAG }}

